header{
    background-color: aliceblue;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav div#brand img{
    height: 3.9rem;
    width: 3.9rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.2rem;

}
header nav div#brand{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

header nav div#nav a{
    margin-right: 3rem;
    font-size: 24px;
    color: black;
    text-decoration: none;
}
header nav div#nav a:hover{
    color:darkcyan;
}
header nav div#nav a#connect{
    transition: border 300ms ease-out 0.1s,
    color 300ms ease-in 0.1s;
}
header nav div#nav a#connect:hover {
    color: green;
    border: black solid 0.1rem;
    border-radius: 0.5rem;
}

body{
    background-color: lightblue;
    margin: 0 auto;
}
main{
    margin-left: 10rem;
}

main h3{
    font-style: italic;
}
main h4{
    font-weight: bolder;
}

main ul li{
    margin: 1rem;
}

main table{
    border: 0.2rem solid grey;
    width: 14rem;
    background-color: black;
}

main table thead tr th{
    color: white;
}
main table thead tr th#col1{
    width: 2rem;
}
main table thead tr th#col2{
    width: 5rem;
}

main table tbody tr td{
    color: white;
}
main table tbody tr td.filled{
    background-color:white;
    height: 0.1rem;
    width: 0.1rem;
}
main button{
    height: 3rem;
    width: 5rem;
    background-color: skyblue;
    margin-top: 1rem;
}
main button a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}
main button:hover{
    border-color: green;
    box-shadow: 0.2rem 0.2rem  green;
    color: white
}
