body{
    background-color: lightblue;
}

header{
    background-color: aliceblue;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav div#brand img{
    height: 3.9rem;
    width: 3.9rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 0.2rem;

}
header nav div#brand{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

header nav div#nav a{
    margin-right: 3rem;
    font-size: 24px;
    color: black;
    text-decoration: underline;
}
header nav div#nav a:hover{
    color:darkcyan;
}

main{
    height: 30rem;
}
main div#sell{
    margin-top: 10rem;
    margin-left: 5rem;
    line-height: 0.5rem;
    color: white;
    padding-top: 5rem;
}
main div#title h1{
    font-size: 5rem;
}
main div#title h2{ 
    font-size: 2.5rem;
}
main div#sum p{
    font-size: 1.3rem;
    max-width: 30rem;
    line-height: 1.2rem;
}