body{
    background-color: lightblue;
}

header{
    background-color: aliceblue;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav div#brand img{
    height: 3.9rem;
    width: 3.9rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 0.2rem;

}
header nav div#brand{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
header nav div#nav a{
    margin-right: 3rem;
    font-size: 24px;
    color: black;
    text-decoration: none;
}
header nav div#nav a:hover{
    color:darkcyan;
}
header nav div#nav a#connect{
    transition: border 300ms ease-out 0.1s,
    color 300ms ease-in 0.1s;
}
header nav div#nav a#connect:hover {
    color: green;
    border: black solid 0.1rem;
    border-radius: 0.5rem;
}
body{
    background-color: lightblue;
    margin: 0 auto;
}

main h1{
    text-align: center;
    margin-top: 10rem;
    color: white;
    font-size: 5rem;
}